// goods-detail
.goods-detail{
    width: 100%;
    overflow: hidden; 
    margin-bottom: 20px;
    .tit{
        width: 980px;
        height: 20px;
        padding: 7px 0 5px;
        margin: 0 auto;
        .tit-l{
            float: left;
            overflow: hidden;
            width: 670px;
            margin-top: 7px;
            font-size: 12px;
            color: #5a5a5a;
            line-height: 20px;
        }
        .tit-r{
            width: 230px;
            float: right;
            overflow: hidden;
            text-align: center;
            div{
                width: 80px;
                height: 26px;
                line-height: 26px;
                font-size: 14px;
                color: #fff;
                background-color: #E17C79;
                margin-left: 10px;
                float: right;
                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
    .detail{
        width: 980px;
        margin: 7px auto;
        .de-menu{
            width: 100%;
            height: 50px;
            line-height: 50px;
            li{
                float: left;
                width: 195px;
                line-height: 50px;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                color: #5a5a5a;
                border-bottom: 1px solid #000;
                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            .current{
                color: #f27b04;
                background: url(http://nocache.zuyushop.com:8013/cuxiao/images/cxMenuC.gif) center bottom no-repeat;
                border-bottom: 1px solid #f27b04;
            }
        }
        .de-main{
            width: 100%;
            .m-l{
                width: 730px;
                padding-right: 10px;
                border-right: 1px solid #ededed;
                float: left;
                .m-l-tit{
                    width: 730px;
                    padding: 25px 0;
                    text-align: left;
                    h1{
                        font-size: 20px;
                        font-weight: bold;
                        color: #5A5A5A;
                        span{
                            color: #f27b04;
                            font-size: 20px;
                            font-weight: normal;
                            line-height: 36px;
                            display: block;
                        }
                    }
                }
                .info{
                    width: 730px;
                    height: 261px;
                    margin-top: 15px;
                    position: relative;
                    .pic{
                        width: 220px;
                        height: 261px;
                        margin-right: 20px;
                        float: left;
                        img{
                            width: 220px;
                            height: 220px;
                        }
                        .btns{
                            width: 220px;
                            margin-top: 15px;
                            text-align: center;
                            
                            a{ 
                                display: inline-block;
                                height: 26px;
                                line-height: 26px;
                                padding: 0 2px;
                                color: #444;
                                font-size: 12px;
                                margin: 0 3px;
                                &:hover{
                                    color: #f27b04;;
                                    cursor: pointer;
                                }
                                img{
                                    width: 16px;
                                    height: 16px;
                                    vertical-align: -1px;
                                    margin-right: 2px;
                                }
                            }
                        }
                    }
                    .txt{
                        width: 490px;
                        float: left;
                        position: relative;
                        p{
                            width: 190px;
                            line-height: 30px;
                            font-size: 14px;
                            color: #5a5a5a;
                        }
                        .link{
                            position: absolute;
                            top: 179px;
                            height: 32px;
                            .zdlj{
                                display: inline-block;
                                width: 115px;
                                height: 32px;
                                line-height: 32px;
                                text-align: center;
                                color: #fff;
                                font-size: 16px;
                                background-color: #f27b04;
                                border-radius: 3px;
                            }
                            .l-img{
                                display: inline-block;
                                line-height: 32px;
                                background-color: #ffffff;
                                color: #474747;
                                vertical-align: -10px;
                                position: relative;
                                &:hover{
                                    cursor: pointer;
                                    .ma{
                                        display: block;
                                    }
                                }
                                .phone{
                                    width: 32px;
                                    height: 32px;
                                    margin-left: 10px;
                                   
                                }
                                .ma{
                                    width: 180px;
                                    height: 180px;
                                    position: absolute;
                                    bottom: 45px;
                                    right: -90px;
                                    z-index: 99;
                                    padding: 20px;
                                    background-color: #fff;
                                    box-shadow: 0 0 8px #cdcdcd;
                                    border: 1px solid #cdcdcd;
                                    display: none;
                                }
                            }
                            
                        }
                        .note{
                            font-size: 14px;
                            position: absolute;
                            top: 240px;
                        }
                    }
                    .other{
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        background-color: #ffffff;
                        .trend{
                            width: 300px;
                            height: 152px;
                            img{
                                width: 300px;
                                height: 152px;
                            }
                        }
                        .area{
                            width: 170px;
                            padding: 0 25px;
                            float: right;
                            font-size: 14px;
                            background-color: #f7f6f4;
                            line-height: 38px;
                            margin-top: 24px;
                            color: #5a5a5a;
                            
                            a{
                                display: inline-block;
                                line-height: 38px;
                                padding:0 20px 0 16px ;
                                color: #5a5a5a;
                                position: relative;
                                &:hover{
                                    text-decoration: underline;
                                    cursor: pointer;
                                    color: #f27b04;
                                    ul{
                                        display: block;
                                    }
                                }
                                img{
                                    width: 16px;
                                    height: 16px;
                                    margin-left: 6px;
                                    vertical-align: middle;
                                }
                                ul{
                                    display: none;
                                    width: 138px;
                                    position: absolute;
                                    padding: 5px 0;
                                    left: 0px;top: 38px;
                                    border-width: 0px 1px 1px 1px;
                                    background-color: #fff;
                                    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
                                    border-color: #f1f1f1 #f1f1f1 #dbdbdb #f1f1f1;
                                    li{
                                        margin: 0 18px;
                                        font-size: 12px;
                                        color: #5a5a5a;
                                        line-height: 20px;
                                        border-bottom: 1px dashed #ccc;
                                        strong{
                                            margin-left: 40px;
                                        }
                                        &:hover{
                                            background-color: #f7f6f4;
                                            color: #f27b04;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                            strong{
                                color: #f27b04;
                                font-weight: normal;
                            }
                           
                        }
                    }
                }
                .tjly{
                    width: 730px;
                    .tjlyT{
                        width: 730px;
                        height: 34px;
                        line-height: 34px;
                        margin-top: 20px;
                        font-weight: bold;
                        font-size: 16px;
                        height: 34px;
                        text-align: left;
                    }
                    .tjlyC{
                        width: 698px;
                        padding:20px 15px 0 15px;
                        color: #333;
                        border: 1px solid #f5f5f5;
                        border-top: 1px solid #000;
                        font-size: 14px;
                        text-align: left;
                        margin-top: 8px;
                        line-height: 30px;
                        box-shadow: #f2f2f2 2px 3px 3px;
                        p{
                            line-height: 26px;
                            span{
                                font-size: 16px;
                                font-weight: bold;
                            }
                        }
                        .bot{
                            text-align: center;
                            img{
                                width: 544x;
                                height: 135px;
                            }
                        }
                        .tjlyB{
                            margin-top:40px ;
                            margin-bottom: 25px;
                            width: 100%;
                            .link{
                                width: 100%;
                                height: 40px;
                                a{
                                    display: block;
                                    margin: 0px auto;
                                    width: 150px;
                                    height: 40px;
                                    line-height: 40px;
                                    text-align: center;
                                    color: #ffffff;
                                    font-size: 16px;
                                    background-color: #f27b04;
                                    border-radius: 3px;
                                }
                            }
                            .share{
                                width: 100%;
                                font-size: 14px;
                                margin-top:7px ;
                                text-align: right;
                                a{
                                    width: 30px;
                                    height: 30px;
                                    display: inline-block;
                                    img{
                                        width: 30px;
                                        height: 30px;
                                        vertical-align: middle;
                                    }
                                }
                                
                            }
                        }
                    }
                    
                }
            }
            .m-r{
                float: right;
                width: 230px;
                .zk-box{
                    width: 230px;
                    margin-top: 2px;
                    border-bottom: 1px solid #ddd;
                    line-height: 38px;
                    h3{
                        font-size: 18px;
                        width: 144px;
                        border-bottom: 1px solid #636363;
                        margin-bottom: -1px;
                        font-weight: normal;
                    }
                }
                .zk-con{
                    width: 230px;
                    margin-top: 6px;
                    overflow: hidden;
                    div{
                        width: 33%;
                        padding-top: 5px;
                        text-align: center;
                        float: left;
                        img{
                            width: 40px;
                            height: 40px;
                            padding-bottom: 5px;
                            display: block;
                            cursor: pointer;
                            margin: 0 auto;
                        }a{
                            color: #5a5a5a;
                            font-size: 12px;
                            &:hover{
                                text-decoration: underline;
                                cursor: pointer;
                                color: #f27b04;
                            }
                        }
                    }
                }
                .zk-pic{
                    width: 230px;
                    .zk-p-tit{
                        width: 230px;
                        line-height: 38px;
                        margin-top: 10px;
                        border-bottom: 1px solid #d1d1d1;
                        h3{
                            font-size: 18px;
                            font-weight: normal;
                            border-bottom: 1px solid #636363;
                            margin-bottom: -1px;
                            width: 150px;
                        }
                    }
                    .zk-p-con{
                        width: 230px;
                        height: 228px;
                        margin-top: 6px;
                        ul{
                            width: 230px;
                            height: 228px;
                            li{
                                float: left;
                                width: 70px;
                                height: 70px;
                                border: 1px solid #e5e5e5;
                                margin: 2px;
                                text-align: center;
                                position: relative;
                                &:hover{
                                    cursor: pointer;
                                    color:#f27b04;
                                    // .b-pic{
                                    //     display: block;
                                    // }
                                }
                                img{
                                    width: 70px;
                                    height: 70px;
                                }
                                a{
                                    font-size: 12px;
                                    color: #5a5a5a;
                                    &:hover{
                                        cursor: pointer;
                                        color: #f27b04;
                                        text-decoration: underline;
                                    }
                                }
                                .b-pic{
                                    position: absolute;
                                    left: -2px;top: -2px;
                                    width: 230px;
                                    height: 228px;
                                    display: none;
                                    z-index: 99;
                                    img{
                                        width: 230px;
                                        height: 228px;
                                    }
                                    .txt{
                                        position: absolute;
                                        left: 0;bottom: 0;
                                        width: 220px;
                                        padding: 5px;
                                        background-color: #5a5a5a;
                                        text-align: left;
                                        opacity: 0.8;
                                        a{
                                            color: #fff;
                                            font-size: 12px;
                                            &:hover{
                                                cursor: pointer;
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                    
                                }
                            }
                            .pic2{
                                position: relative;
                                .b-pic{
                                    position: absolute;
                                    left: -78px;top: -2px;
                                }
                            }
                            .pic3{
                                position: relative;
                                .b-pic{
                                    position: absolute;
                                    left: -152px;top: -2px;
                                }
                            }
                            .pic4{
                                position: relative;
                                .b-pic{
                                    position: absolute;
                                    left: -2px;top: -78px;
                                }
                            }
                            .pic5{
                                position: relative;
                                .b-pic{
                                    position: absolute;
                                    left: -76px;top: -76px;
                                }
                            }
                            .pic6{
                                position: relative;
                                .b-pic{
                                    position: absolute;
                                    left: -154px;top: -78px;
                                }
                            }
                            .pic7{
                                position: relative;
                                .b-pic{
                                    position: absolute;
                                    left: -2px;top:-154px
                                }
                            }
                            .pic8{
                                position: relative;
                                .b-pic{
                                    position: absolute;
                                    left: -78px;top: -154px;
                                }
                            }
                            

                        }
                    }
                }
                .zk-slider{
                    width: 230px;
                    .zk-s-tit{
                        width: 230px;
                        line-height: 38px;
                        border-bottom: 1px solid #d1d1d1;
                        overflow: hidden;
                        margin-top: 10px;
                        h3{
                            font-size: 18px;
                            font-weight: normal;
                            border-bottom: 1px solid #636363;
                            margin-bottom: -1px;
                            width: 150px;
                            float: left;
                        }
                        span{
                            float: right;
                            font-size: 12px;
                            &:hover{
                                text-decoration: underline;
                                color: #f27b04;
                            }
                        }
                    }
                    .swiper-container{
                        width: 230px;
                        height: 230px;
                        margin-top: 6px;
                        .swiper-slide{
                            width: 230px;
                            height: 230px;
                            float: left;
                            img{
                                width: 230px;
                                height: 230px;
                            }
                        }
                    }
                }
                .zk-active{
                    width: 230px;
                    .zk-a-tit{
                        width: 230px;
                        line-height: 38px;
                        margin-top: 10px;
                        border-bottom: 1px solid #d1d1d1;
                        h3{
                            font-size: 18px;
                            font-weight: normal;
                            border-bottom: 1px solid #636363;
                            margin-bottom: -1px;
                            width: 150px;
                        }
                    }
                    .zk-a-con{
                        width: 230px;
                        li{
                            width: 230px;
                            height: 86px;
                            padding: 7px 0 2px;
                            border-bottom: 1px solid #efefef;
                            .a-pic{
                                width: 50px;
                                height: 50px;
                                float: left;
                                img{
                                    width: 50px;
                                    height: 50px;
                                }
                            }
                            .a-con{
                                width: 170px;
                                height: 86px;
                                float: right;
                                .p1{
                                    line-height: 20px;
                                    height: 44px;
                                    overflow: hidden;
                                    font-size: 12px;
                                    color: #5a5a5a;
                                    &:hover{
                                        color: #f27b04;
                                    }
                                }
                                .p2{
                                    height: 22px;
                                    line-height: 20px;
                                    overflow: hidden;
                                    color: #f27b04;
                                    font-size:12px;    
                                }
                                .p3{
                                    line-height: 20px;
                                    .s1{
                                        float: left;
                                        color: #999;
                                        font-size: 12px;
                                    }
                                    .s2{
                                        float: right;
                                        color: #999;
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// footer
.footer{
    border-top: 1px solid #dddddd;
    padding: 10px 0;
}